{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Resume</title>
    <link rel="stylesheet" href="{% static 'resume/style.css' %}">
</head>
<body>
    <header>
        <h1>Alvin Manoj Alex</h1>
        <p>Software Developer | Web Security</p>
        <p>alvinmanoj02@gmail.com</p>
    </header>

    <section>
        <h2>About me</h2>
        <p>As a member of NYU's OSIRIS Lab, my focus lies in the intricate realms of web application security and AI security, in the current technological cyberspace. Our team playtested and moderated CSAW'24, bolstering our collective knowledge in cyber defense.</p>
        <p>Simultaneuosly, I am working on personal projects to hone my skills and expertise as a secure software developer, applying my knowledge in real-world applications.</p>
    </section>

    <section>
        <h2>Work Experience</h2>
        <ol>
            <li>AI Research and Development at University of Auckland</li>
            <li>Research Intern at IEEE</li>
        </ol>
    </section>

    <section>
        <h2>Education</h2>
        <ol>
            <li>Masters in Computer Science at New York University</li>
            <li>Bachelors in Computer Science at Vellore Institute of Technology</li>
        </ol>
    </section>
</body>
</html>